.profile_container{
    -fx-background-color: #EEEEEE;
}

.profile_form_container{
    -fx-spacing: 10;
}

.profile_form_container Button{
    -fx-background-color: #2f2c2c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18;
    -fx-pref-width: 150;
}

.profile_form_container Label{
    -fx-font-size: 18;
    -fx-pref-width: 300;
}

.profile_form_container PasswordField{
    -fx-pref-height: 38;
    -fx-pref-width: 300;
}

.profile_info_container Label{
    -fx-font-size: 18;
}

.profile_info_container .bold{
    -fx-font-weight: bold;
}